
body {
	background: #f1f1f1;
	font-family: sans-serif;
}

#container {
	margin: 20px auto auto auto;
	width: 699px;
}


/**
 * navigation
 *
 */
#container-top {
	margin: auto;
	background: black;
	width: 100%;
	box-shadow: 0px 0px 2px 1px #c3c3c3;
	height: 55px;
}

nav {
	padding: 0;
	margin: 0;
}

nav ul {
	padding: 0;
	margin: 0;
	display: flex;
}

nav li {
	list-style: none;
	margin: 0;
	flex: 1;
}

nav button {
	height: 55px;
	width: 100%;
	font-size: 17px;
	color: white;
	border: none;
	background: #ca1d20;
}

nav button:hover {
	background: #9c1619;
}

nav #options {
}

nav #words {
}

nav #users {
}


/**
 * content
 *
 */
#container-content {
	box-sizing: border-box;
	background: white;
	box-shadow: 0px 0px 2px 1px #c3c3c3;
	margin: 0 8px;
	padding: 7% 15%;
	height: 375px;
	font-size: 15px;
}

.line {
	width: 100%;
}

.opt-label {
	margin-right: 50px;
}

.on-off {
	display: inline-block;
	width: 40px;
	height: 20px;
	background: #f1f1f1;
	box-shadow: inset 0px 0px 2px 1px #c3c3c3;

}

.on-off div {
	width: 20px;
	height: 20px;
	background: #ca1d20;
	box-shadow: inset 0px 0px 2px 1px #c3c3c3;

}


